.note-card {
  border: $ltGrey 1px solid;
  border-radius: 5px;
  color: $black; 
  display: flex;
  display: inline;
  flex-direction: column;
  margin: 1%;
  padding: 15px;
  width: 250px;

  .fa-plus {
    color: $dkGrey
  }
}

.noteLink {
  color: $black;
  text-decoration: none;

  article {
    min-height: 120px;
  }

  h3 {
    font-size: 18px;
    font-weight: 400;
    margin: 0 0 10px 0;
  }

  hr {
    border: .5px solid;
    color: $ltGrey;
  }

  .note-item {
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
    margin: 0;
    padding: 5px;
  }
}

.note-card:hover {
  box-shadow: 1px 2px 3px #999;
}

.note-card:hover > .delete-btn {
  visibility: visible;

}

.delete-btn {
  visibility: hidden;
}

.completed-view {
  color: $ltGrey;
  font-size: 15px;
  font-weight: 400;
  text-decoration: line-through;
  margin: 0;
  padding: 5px;
}