.item-input {
  margin: 0 5px;
  padding: 5px;
  width: 90%;

  &:focus {
    outline: none;
  }
}

.unfocused-item {
  border-top: solid 2px transparent;
  border-bottom: solid 2px transparent;
}

.focused-item {
  border-top: solid 2px $ltGrey;
  border-bottom: solid 2px $ltGrey;

  .delete-x {
    color: #333;
  }
}

.delete-item-btn {
  .delete-x {
    color: transparent;
  }

  &:hover {
    .delete-x {
      color: #333;
    }
  }
}

#item-check:hover + .delete-item-btn,
.item-input:hover + .delete-item-btn,
.item-input:focus + .delete-item-btn {
  .delete-x {
    color: #999;

    &:hover {
      color: #333;
    }
  }
}

