.note-form-bg {
  background: rgba(#DCDCDC, .6);
  display: flex;
  height: 120%;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}

.note-form {
  background: white;
  border-radius: 5px;
  box-shadow: 1px 2px 5px #666;
  display: flex;
  flex-direction: column;
  padding: 15px;
  position: absolute;
  top: 200px;
  width: 600px;

  input,
  button {
    background: transparent;
    border: 0;
    line-height: 1.25rem;
  }

  .note-title {
    color: $black;
    font-size: 1.3em;
    padding: 5px 0 10px 0;
  }

  hr {
    border: .5px solid;
    color: #888;
  }
}

.fa-plus {
  color: $dkGrey
}

.hide {
  display: none;
}

.list-items-wrapper {
  padding: 0 15px;
}

.new-item-input {
  .fa-plus {
    color: #888;
    margin: 0 8px 0 0;
  }

  input {
    outline: none;
    padding: 7px 0;
  }
}

.form-btn-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 20px 0 0 0;
}

.save-btn,
.fa-trash-alt,
.fa-palette {
  color: #888;
  cursor: pointer;
  padding: 5px 0;

  &:hover {
    color: $black;
  }
}
