.notes-container {
  display: grid;
  grid-gap: 25px;
  grid-template-columns: repeat(auto-fit, 250px);
  padding: 40px;
}

.empty-notes {
  color: $dkGrey;
  font-size: 20px;
  font-weight: 300;
  margin: 100px 0 0 400px;
  text-align: center;
  width: 200px;


  .fas {
    color: $ltGrey;
    font-size: 5rem;
  }
}

.add-btn {
  font-size: 24px;
  margin-left: 130px;
}