* {
  box-sizing: border-box;
}

.App {
  font-family: $mainFont;

  h1 {
    .fas {
      color: $gold;
      margin: 0 5px 0 0;
    }
    
    color: $black;
    font-family: 'Patua One', 'Source Sans Pro';
    font-size: 3em;
    font-weight: 300;
    padding-left: 10px;

  }
}
